<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ds.iptv">

    <application
        android:allowBackup="true"
        android:label="DS IPTV"
        android:icon="@drawable/ic_tv"
        android:theme="@style/Theme.Material3.DayNight.NoActionBar">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".ExoPlayer.PlayerActivity"/>
        <activity android:name=".SettingsActivity"/>

    </application>

</manifest>
